@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /** Icons */
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  
  /**Homepage*/
  
  body {
      background-image: url("./images/pic_1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .middle-part {
      padding-top: 13%;
  }
  
  .learn {
      padding-top: 16%;
  }
  
  div button {
      background: #C271FF;
      color: #FFF;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      border-radius: 20px;
      padding: 9px 20px;
      border: none;
  }
  
  .testimonials-section {
      background: #C271FF;
  }
  
  .popular-videos {
      background: #FFF;
  }
  
  .free-member {
      background: #071629;
  }
  
   .card-small {
      width: 54%;
      height: 64%;
  }
  
  .latest-videos {
      background: #FFF;
  }
  
  /** Pricing page */
  body.pricing {
      background-image: url("./images/pic_2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
  }
  
  /** Hero section */
  .middle-part {
      padding-top: 13%;
  }
  
  .smile-off {
      width: 4%;
      height: 4%;
  }
      
  .smile-logo {
      width: 12%;
  }
  
  .go-pro {
      padding-top: 8%;
  }
  
  .plan {
      padding-top: 4%;
      padding-bottom: 6%;
  }
  
  .testimonials-section {
      padding-bottom: 4%;
      padding-top: 4%;
  }
  
  .faq {
      background-color: #FFF;
      padding-top: 6%;
      padding-bottom: 6%;
  }
  
  .footer {
      padding-top: 6%;
      padding-bottom: 2%;
  }
  
  .footer-copyright {
      padding-top: 4%;
  }
  
  /**Courses*/
  
  body.courses {
      background-image: url("./images/pic_3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
  }
  
  small.not-purple, u, p.not-purple {
      color: #C271FF;
  }
  
  .inputs-section {
      background: #C271FF;
  }
  
  .form-control select {
      background: #FFF;
      color: #C271FF;
  }
  
  .list-results {
      background: #FFF;
  }
  
  /**Queries*/
  
  @media screen and(min-width:768px){
      body.pricing {
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
      }
      
      body.homepage {
          background-image: url("pic_1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
      }
      
      div .middle-part h1{
          padding-top: 108px;
      }
      
      .smile-off {
          width: 12%;
          height: 12%;
      }
      
      .smile-logo {
          width: 23%;
      }
  }
  
  @media screen and(min-width:576px){
      body.pricing {
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
      }
      
      body.homepage {
          background-image: url("./images/pic_1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
      }
      
      div .middle-part h1 {
          font-size: 30px;
      }
      
      .smile-off {
          width: 12%;
          height: 18%;
      }
      
      .smile-logo {
          width: 23%;
      }
  }
  
  /*Loader*/
  .loader {
    border: 10px solid #FFF;
    border-top: 10px solid #FFF;
    border-right: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid #C271FF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    animation: load 2s linear infinite;
    -webkit-animation: load 2s linear infinite;
  }

  @keyframes load {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }