/* ********** Variables ********** */
:root {
    --font-size-small: 0.9rem;
    --font-size-medium: 1rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 5rem;
    --holberton-red: #ff6565;
    --purple-smile: #c271ff;
    --text-color-white: #ffffff;
    --blue-background-color: #071629;
}

body {
    font-family: Source Sans Pro;
    background-color: #071629;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.homepage-hero {
    background-image: url("./images/pic_1.jpg");
}

.pricing-hero {
    background-image: url("./images/pic_2.jpg");
}

.courses-hero {
    background-image: url("./images/pic_3.jpg");
}

img.smile-school-logo {
    height: 2rem;
}

#courses .courses,
#pricing .pricing {
    color: #c271ff !important;
    text-decoration: underline !important;
    text-decoration-color: #ffffff !important;
    text-decoration-thickness: 3px !important;
}

.subtitles::after {
    content: "SMILES GRIN LAUGH";
    display: block;
    font-size: var(--font-size-small);
    word-spacing: 2.5rem;
    text-align: center;
}

.fine-print-1::after {
    content: "$1.20/month";
    display: block;
    font-size: var(--font-size-small);
}

.course-title {
    font-family: Coiny;
}

button.btn {
    background-color: var(--purple-smile);
    border: none;
    border-radius: 22px;
    margin: 1.2rem auto;
    opacity: 0.9;
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    font-size: var(--font-size-small);
    padding: 0.5rem 1.0rem 0.5rem 1.0rem;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

.purple-text {
    color: var(--purple-smile);
    font-weight: 900;
}

img.circle-thumb {
    width: 9rem;
}

.carousel {
    padding-left: 4rem;
    height: 15rem;
}

.carousel-control-prev {
    background-image: url("./images/arrow_white_left.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    margin: 2rem 1rem;
}

.carousel-control-next {
    background-image: url("./images/arrow_white_right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    margin: 2rem 1rem;
}

img.thumbnail-1 {
    width: 14rem;
}

.video-prev {
    background-image: url("./images/arrow_black_left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    margin: 2rem -6rem;
}

.video-next {
    background-image: url("./images/arrow_black_right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    margin: 2rem -8em;
}

img.small-img {
    width: 3.5rem;
    height: 3.5rem;
}

img.play-btn {
    height: 3.5rem;
    margin: 2.4rem 4.5rem;
}

img.smile-logo {
    width: 3.5rem;
}

.checkmark {
    fill: green;
}

footer {
    position: absolute;
}

.holberton_school-icon-ic_facebook,
.holberton_school-icon-ic_twitter,
.holberton_school-icon-ic_instagram {
    color: #ffffff;
    height: 2rem;
    font-size: 2rem;
}

#toggle-menu {
    display: none;
}

@media (max-width: 576px) {
    header {
        background-position: 44% 50%;
    }

    .header-nav {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    .header-nav .nav-link {
        width: 100%;
        margin: 0.5rem auto;
        line-height: 1;
    }

    #hamburger-btn {
        cursor: pointer;
        background: white;
        height: 2px;
        width: 0.8rem;
        position: absolute;
        left: 1rem;
        top: 20px;
        display: block;
    }

    #hamburger-btn::before {
        content: "";
        background: #ffffff;
        height: 2px;
        width: 20px;
        position: relative;
        top: -0.4rem;
        display: block;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    #hamburger-btn::after {
        content: "";
        background: #ffffff;
        height: 2px;
        width: 18px;
        position: relative;
        top: 0.3rem;
        display: block;
        transition: all 0.2s ease;
    }

    #toggle-menu:checked ~ .header-nav {
        display: block;
    }

    #toggle-menu:checked ~ #hamburger-btn {
        background: transparent;
    }

    #toggle-menu:checked ~ #hamburger-btn::before {
        transform: rotate(45deg);
        top: 0.19rem;
    }

    #toggle-menu:checked ~ #hamburger-btn::after {
        width: 1.34rem;
        transform: rotate(-45deg);
        top: 1px;
    }
}